<br>
<%# New booking index %>
<div class="container">
  <div class="row">

    <%# my requests big container %>
    <div class="col">
      <div class="card rounded-4">
        <div class="card-body">
          <h2>My booking requests</h2>
          <br>
          <%# 1st row medium container for pending requests %>
          <div class="row">
            <div class="col">
              <div class="card formbg">
                <div class="card-body">
                  <details open><summary><h5 class="card-title d-inline">Pending</h5></summary>
                  <% @myrequests_pending.each do |booking| %>
                    <br>
                    <%# small container for one booking %>
                    <div class="row">
                      <div class="col">
                        <div class="card">
                          <div class="card-body">
                            <%= booking.offer.title %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %></details>
                </div>
              </div>
            </div>
          </div>
          <br>
          <%# 2nd row medium container for accepted requests %>
          <div class="row">
            <div class="col">
              <div class="card formbg">
                <div class="card-body">
                  <details open><summary><h5 class="card-title d-inline">Accepted</h5></summary>
                  <% @myrequests_accepted.each do |booking| %>
                    <br>
                    <%# small container for one booking %>
                    <div class="row">
                      <div class="col">
                        <div class="card">
                          <div class="card-body">
                              <%= booking.offer.title %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %></details>
                </div>
              </div>
            </div>
          </div>
          <br>
          <%# 3rd row medium container for declined requests %>
          <div class="row">
            <div class="col">
              <div class="card formbg">
                <div class="card-body">
                  <details><summary><h5 class="card-title d-inline">Declined</h5></summary>
                  <% @myrequests_declined.each do |booking| %>
                    <br>
                    <%# small container for one booking %>
                    <div class="row">
                      <div class="col">
                        <div class="card">
                          <div class="card-body">
                            <%= booking.offer.title %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %></details>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# my requests big container %>
    <div class="col">
      <div class="card rounded-4">
        <div class="card-body">
          <h2>Incoming booking requests</h2>
            <br>
              <%# 1st row medium container for pending requests %>
              <div class="row">
                <div class="col">
                  <div class="card formbg">
                    <div class="card-body">
                      <details open><summary><h5 class="card-title d-inline">Pending</h5></summary>
                      <% @mybookings_pending.each do |booking| %>
                        <br>
                        <%# small container for one booking %>
                        <div class="row">
                          <div class="col">
                            <div class="card ">
                              <div class="card-body">
                                <%= booking.offer.title %>
                                <div class="links">
                                <%= form_for booking do |f| %>
                                  <%= f.hidden_field :status, value: "accepted" %>
                                  <%= f.submit "Accept", class: "btn btn-pink float-right ml-2" %>
                                <% end %>
                                <br>
                                <%= form_for booking do |f| %>
                                  <%= f.hidden_field :status, value: "declined" %>
                                  <%= f.submit "Decline", class: "btn btn-pink float-right" %>
                                <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %></details>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <%# 2nd row medium container for accepted requests %>
              <div class="row">
                <div class="col">
                  <div class="card formbg">
                    <div class="card-body">
                      <details open><summary><h5 class="card-title d-inline">Accepted</h5></summary>
                      <% @mybookings_accepted.each do |booking| %>
                        <br>
                        <%# small container for one booking %>
                        <div class="row">
                          <div class="col">
                            <div class="card">
                              <div class="card-body">
                                  <%= booking.offer.title %>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %></details>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <%# 3rd row medium container for declined requests %>
              <div class="row">
                <div class="col">
                  <div class="card formbg">
                    <div class="card-body">
                      <details><summary><h5 class="card-title d-inline">Declined</h5></summary>
                      <% @mybookings_declined.each do |booking| %>
                        <br>
                        <%# small container for one booking %>
                        <div class="row">
                          <div class="col">
                            <div class="card">
                              <div class="card-body">
                                <%= booking.offer.title %>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %></details>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
