<h1>New Booking</h1>
<%= link_to "Back", offer_path(@offer), class: "btn btn-primary" %>
<br>
<br>
<%= simple_form_for [@offer, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Create Booking", class: "btn btn-success" %>
<% end %>
