<h2><%= @booking.start_date %></h2>
<h2><%= @booking.end_date %></h2>
<h2><%= @booking.status %></h2>
<p class ="card-price">Booking price: <%= @booking_price %></p>

<%= link_to "Go back", root_path %>
