<h3>Please create here a new offer</h3>
<%= simple_form_for @offer do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :color %>
  <%= f.input :length %>
  <%= f.select :size, options_for_select(["S", "M", "L"]) %>
  <%= f.input :style %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class: 'btn btn-flat btn-pink' %>
<% end %>
