<h2><%= @offer.title %></h2>
<h2><%= @offer.description %></h2>
<h2><%= @offer.color %></h2>
<h2><%= @offer.length %></h2>
<h2><%= @offer.size %></h2>
<h2><%= @offer.style %></h2>

<%= link_to "Go back", root_path %>
